<ion-view view-title="SMS">
  <ion-content>
    <form name="vm.form" ng-submit="vm.submit()">
      <ion-list>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Adresat</span>
            <input type="tel" ng-model="vm.recipient" ng-model-options="{updateOn:'blur'}" placeholder="Wprowadź numer odbiorcy">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Treść</span>
            <textarea rows="8" ng-model="vm.content" ng-model-options="{updateOn:'blur'}" placeholder="Wprowadź treść SMS-a"></textarea>
          </label>
        </div>
        <div class="list list-inset">
          <button type="submit" class="button button-block button-positive">Wyślij</button>
        </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
